// HTML Tags
html body * {
  font-family: $font-family-main;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
// HTML Tags end

// App
.app-container {
  display: flex;
}

.note-edit {
  width: 100%;
}
// App end