// Colors
$black-main: #1a1a1a;
$gray-main: #ccc;
$gray-very-ligh: #e6e6e6;
$gray-super-light: #f8f8f8;
$gray-dark: #404040;
$gray-medium-dark: #666;
$green-main: #00a82d;
$white-main: #ffffff;

// Font Family
$font-family-main: Arial, sans-serif;

// Font Size
$font-size-very-small: 12px;
$font-size-small: 14px;
$font-size-large: 20px;

// Font Weight
$font-weight-bold: 700;