<div class="notes-block">
  <div class="notes-block__top">
    <h2 class="notes-block__main-title">All Notes</h2>
    <p class="notes-block__meta-text">20 notes</p>
</div>

  <div class="notes-block__notes-container">
    {{#each @notes as |note|}}
      <Note @note={{note}} />
    {{/each}}
  </div>
</div>