<div class="notes-block">
  <div class="notes-block__top">
    <h2 class="notes-block__main-title">All Notes</h2>
    <div class="notes-block__bottom-container">
      <p class="notes-block__meta-text">{{@notes.length}} {{this.noteOrNotes}}</p>
      <div class="notes-block__sort">
        <p {{on 'click' this.sortTitle}}>Title</p>
        <p>Date created</p>
      </div>
    </div>
</div>

  <div class="notes-block__notes-container">
    {{#each this.notes as |note|}}
      <Note @note={{note}} />
    {{/each}}
  </div>
</div>