<aside class="sidebar">
  <div class="sidebar__add-btn-container">
    <AddNewNote />
  </div>
  <ul class="sidebar__list">
    <li class="sidebar__list-item"><LinkTo @route="all-notes" class="sidebar__link">All Notes</LinkTo></li>
    <li class="sidebar__list-item">Notebooks</li>
    <li class="sidebar__list-item">Tags</li>
    <li class="sidebar__list-item">Trash</li>
  </ul>
</aside>