.block-note {
  background-color: $gray-super-light;
  border-bottom: 1px solid $gray-very-ligh;
  cursor: pointer;
  padding: 20px;
  transition: background-color 0.2s;
}

.block-note:hover {
  background-color: $white-main;
}

.block-note__title {
  color: $black-main;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}

.block-note__description {
  color: $gray-medium-dark;
  font-size: $font-size-small;
  margin: 10px 0 15px;
}

.block-note__meta {
  color: $gray-medium-dark;
  font-size: $font-size-very-small;
}